<%
   url = action_name == 'edit' ? a_article_path(@article) : a_articles_path
   method = action_name == 'edit' ? "put" : "post"
%>
<%= form_for(@article, :url => url, :method=>method) do |f| %>
    <table class="tablelist" width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
      <%= render :partial => "form_body",
                 :locals => {
                         :f => f,
                         :tdtitle => tdtitle
                 } %>
    </table>
<% end %>
<% content_for :head do %>
    <script type="text/javascript" src="/xheditor/xheditor-zh-cn.min.js"></script>
<% end %>