<div id="header">
  <div class="topbar">
    <table border="0" cellspacing="0" cellpadding="0" style="width:100%;">
      <tr>
        <td class="topLinksLeft">Gitrails控制面板</td>
        <td class="topLinks">欢迎您 fyt [<a href="/exit">注销身份</a>]
          [<a href="/a">后台首页</a>] [<a href="/">站点首页</a>]
        </td>
      </tr>
    </table>
  </div>
</div>