<div id="admin-menu">
  <div class="nav">内容管理</div>

  <div id="content-menu">
    <ul>
      <li><a class="projects" href="/a/articles">文章</a></li>
      <li><a class="users" href="/users">用户</a></li>
      <li><a class="groups" href="/groups">组</a></li>
      <li><a class="roles" href="/roles">角色和权限</a></li>
      <li><a class="trackers" href="/trackers">跟踪标签</a></li>
      <li><a class="issue_statuses issue-statuses" href="/issue_statuses">问题状态</a></li>
      <li><a class="workflows" href="/workflows/edit">工作流程</a></li>
      <li><a class="custom_fields custom-fields" href="/custom_fields">自定义属性</a></li>
      <li><a class="enumerations" href="/enumerations">枚举值</a></li>
      <li><a class="settings" href="/settings">配置</a></li>
      <li><a class="server_authentication ldap-authentication" href="/ldap_auth_sources">LDAP 认证</a></li>
      <li><a class="plugins" href="/admin/plugins">插件</a></li>
      <li><a class="info" href="/admin/info">信息</a></li>
    </ul>
  </div>

  <div class="nav">系统管理</div>

  <div id="system-menu">
    <ul>
      <li><a class="projects" href="/admin/projects">项目</a></li>
      <li><a class="users" href="/users">用户</a></li>
      <li><a class="groups" href="/groups">组</a></li>
      <li><a class="roles" href="/roles">角色和权限</a></li>
      <li><a class="trackers" href="/trackers">跟踪标签</a></li>
      <li><a class="issue_statuses issue-statuses" href="/issue_statuses">问题状态</a></li>
      <li><a class="workflows" href="/workflows/edit">工作流程</a></li>
      <li><a class="custom_fields custom-fields" href="/custom_fields">自定义属性</a></li>
      <li><a class="enumerations" href="/enumerations">枚举值</a></li>
      <li><a class="settings" href="/settings">配置</a></li>
      <li><a class="server_authentication ldap-authentication" href="/ldap_auth_sources">LDAP 认证</a></li>
      <li><a class="plugins" href="/admin/plugins">插件</a></li>
      <li><a class="info" href="/admin/info">信息</a></li>
    </ul>
  </div>
</div>