<div id="admin-menu">
  <div class="nav">内容管理</div>

  <div id="content-menu">
    <ul>
      <li><a class="projects" href="/a/articles">文章</a></li>
    </ul>
  </div>

  <div class="nav">系统管理</div>

  <div id="system-menu">
    <ul>
      <li><a class="users" href="#">用户</a></li>
      <li><a class="settings" href="#">配置</a></li>
    </ul>
  </div>
</div>