<div class="footer">
  <div class="container_12">
    <p>
      <%= link_to Setting[:app_title],root_path%> | Copyright&copy;2011
      <%= link_to Setting[:app_author],'/blog',:href=>"/abouts"%>. All Rights Reserved.<br>
    </p>
  </div>
</div>