<header role="banner">
<div class="grid_4 push_4" style="font-size:25px;color:#FFF;padding:38px 0;text-align:center;">EasyBlog - 专注*敏锐*思想
  </div>

  <div class="grid_4 pull_4">
    <p style="color:#FFF;*margin-top:8px;*padding-top:10px;">
      或许，看清楚了的，转眼擦身而过，生活也许就是这样吧。
      总是从城市的边缘贴着远远近近的灯火疾驰而过，属于那座城的忧伤或快乐，
      我们终究只是个过客。我很喜欢这样，于己无关的，一切的一切都可以很淡。
    </p>
  </div>
  <div class="grid_4">
  </div>
</header>
